---
import Layout from '../components/Layout.astro'
---

<Layout>
    <h1 class="text-6xl font-bold mb-4">Mantra</h1>
    <p>If not now, then when? Is something I tell myself to make sure I'm seizing my opportunities, living in the moment,</p>
</Layout>
