---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<main class="flex flex-col w-11/12  md:w-2/3 lg:w-1/2 mx-auto ">
    <Navbar />
    <h1 class="text-6xl font-bold mb-4">Mantra</h1>
    <p>If not now, then when? Is something I tell myself to make sure I'm seizing my opportunities, living in the moment,</p>
    <Footer />
</main>
