---
const today = new Date();
---


<p class="pb-5 text-sm opacity-70">Created by <a class="underline underline-offset-2 hover:underline-offset-4 transition-all duration-300" href="https://joemmalatesta.com">Joe Malatesta</a></p>