---
import { SITE_TITLE } from '../consts';
---

	<nav class="w-full flex justify-between items-center py-4 mb-2 border-b">
		<h2><a href="/" class="text-lg">INNTW</a></h2>
		<div class="flex gap-3">
			<a href="/mantra" class="hover:underline underline-offset-2 transition-all duration-300">Mantra</a>
			<!-- <a href="/blog" class="hover:underline underline-offset-2 transition-all duration-300">Blog</a> -->
		</div>
	</nav>
