---
import { SITE_TITLE } from '../consts';
---

	<nav class="w-full flex justify-between items-center py-4 mb-2 rounded-b-md">
		<h2><a href="/" class="text-lg">INNTW</a></h2>
		<div class="internal-links">
			<a href="/mantra" class="hover:underline underline-offset-2 transition-all duration-300">Mantra</a>
		</div>
	</nav>
