---
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
---

<main class="lg:w-1/2 md:w-3/4 w-full mx-auto">
    <Navbar />
    <h1 class="text-3xl">Mantra</h1>
    <p>If not now, then when? Is something I tell myself to make sure I'm seizing my opportunities, living in the moment,</p>
    <Footer />
</main>
